.reviews {
    padding-bottom: 71px;
    &__wrapper {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        gap: 101px;
    }
    &__block {
        display: flex;
        gap: 61px;
        img {
            width: 169px;
            height: 169px;
            border-radius: 100%;
        }
    }
    &__text {
        width: 650px;
    }

    &__name {
        font-size: 18px;
        font-weight: 700;
        text-align: left;
        color: #0d0d0d;
    }
    &__subtitle {
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        color: #646464;
    }
    &__descr {
        font-size: 16px;
        font-weight: 300;
        text-align: left;
        color: #0d0d0d;
        margin-bottom: 0;
    }
}